#vue{
    height: 100vh;
    width: 50vw;
}

.carousel-item{
    border-radius: 15px;
    position: absolute;
    height: 80vh;
    width: 45vw;
}

#vue img{
    object-fit: cover;
    height: 80vh;
    width: 45vw;
    border-radius: inherit;
}

#heart{
    position: relative;
    bottom: 50px;
}

#x{
    position: relative;
    bottom: 50px;
}

figcaption{
    position: relative;
    bottom: 190px;
    color: #fff;
    margin: 10px;
}

#buttons{
    width: 45vw;
    padding: 0px 40px;
    position: relative;
    bottom: 25px;
}

#buttons button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
}

.carousel-control-prev, .carousel-control-next {
z-index: none;
}

.carousel-control-next{
    margin-right: 15px;
}