body{
    overflow: hidden;
}
#vue{
    width: 50vw;
    font-family: 'Akatab', sans-serif;
}

nav img{
    height: 50px;
    display: inline;
    vertical-align: middle
}

nav h1{
    display: inline;
    vertical-align: middle;
    color: #e93d3d;
    font-weight: 900;
}

.carousel{
    width: 50vw;
}

.carousel-item{
    border-radius: 15px;
    height: 90vh;
    margin-right: 0px !important;
}

.carousel img{
    object-fit: cover;
    height: 90vh;
    width: 50vw;
    border-radius: inherit;
}

#heart{
    position: relative;
    bottom: 50px;
}

#x{
    position: relative;
    bottom: 50px;
}

figcaption{
    position: relative;
    bottom: 200px;
    color: #fff;
    margin: 10px;
    text-shadow: 1px 1px 3px #000;
}

figcaption a{
    color: #fff;
    z-index: 15;
}

#buttons{
    width: 45vw;
    padding: 0px 80px;
    position: relative;
    bottom: 80px;
    z-index: 1;
}

#buttons button{
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

#buttons button:hover{
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

#buttons img{
    height: 50px;
    width: 50px;
    margin: auto;
}


.carousel-control-prev, .carousel-control-next {
z-index: none;
}

.carousel-indicators button{
    display: none;
}

#loading{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

#loading nav{
    position: absolute;
    top: 40vh;
    margin-left: 20px;
}

.fade-out {
    transition: opacity 5s;
    opacity: 0;
    position: absolute;
}

.display-none{
    display: none;
}


@media (max-width: 769px) {
    .carousel, #vue, .carousel img, #buttons{
        width: 85vw;
        height: 80vh;
    }
}