body{
    overflow: hidden;
}
#vue{
    width: 50vw;
}

nav img{
    height: 50px;
    display: inline;
    vertical-align: middle
}

nav h1{
    display: inline;
    vertical-align: middle;
    color: #4e4e4e;
}

.carousel{
    width: 50vw;
}

.carousel-item{
    border-radius: 15px;
    height: 90vh;
    margin-right: 0px !important;
}

.carousel img{
    object-fit: cover;
    height: 90vh;
    width: 50vw;
    border-radius: inherit;
}

#heart{
    position: relative;
    bottom: 50px;
}

#x{
    position: relative;
    bottom: 50px;
}

figcaption{
    position: relative;
    bottom: 190px;
    color: #fff;
    margin: 10px;
    text-shadow: 1px 1px 3px #000;
}

#buttons{
    width: 45vw;
    padding: 0px 80px;
    position: relative;
    bottom: 25px;
}

#buttons button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
}

.carousel-control-prev, .carousel-control-next {
z-index: none;
}

#loading{
    background-color: #000;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
}

.fade-out {
    transition: opacity 5s;
    opacity: 0;
  }